<a href="https://colab.research.google.com/github/jamesdayao/58013-Linear-Algebra/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variable and Data Type

In [11]:
#using type() to get the type of an object

x = 1
a,b = 0, -1
print(type(x))

y = 1.0
print(type(y))

x = float(x)
print(type(x))

s,t,u = "0", '1', 'one'
print(type(s))

s_int = int(s)
s_int

<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>

0

Arithmetic Operations

In [12]:
a, b, c, d = 2.0, -0.5, 0, -32

#Addition
S = a + b
print(S)

#Subtraction
D = b - d
print(D)

#Multiplication
P = a * d
print(P)

#Division
Q = c / a
print(Q)

#Exponentiation
E = a ** b
print(E)

#Modulo
mod = d % a
mod

1.5
31.5
-64.0
0.0
0.7071067811865476

0.0

Assignment Operations

In [13]:
G, H, J, K = 0, 100, 2, 2

G += a #same as G = G + a
print(G)

H -= d #same as H = H - d
print(H)

J *= 2 #same as J = J * 2
print(J)

K **= 2 #same as K = K ** 2
print(K)

2.0
132
4
4

Comparators

In [18]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

#Equality
a = res_1 == true_val
print(a)

#Non-Equality
b = res_2 != true_val
print(b)

#Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2
print(t1)
print(t2)
print(t3)
print(t4)

True
True
False
False
True
True

Logical Operators

In [24]:
from IPython.core.interactiveshell import dis
a = res_1 == true_val
print(a)

b = res_1 is true_val
print(b)

c = res_1 is not true_val
print(c)

p, q = True, False
conj = p and q
print(conj)

disj = p or q
print(disj)

nand = not(p and q)
print(nand)

xor = (not p and q) or (p and not q)
xor

True
False
True
False
True
True

True

Input and Output Operations

In [66]:
from ctypes import c_uint16
print("Hello World!")
cnt = 1

string = "Hello World!"
print(string, ", Current run count is:", cnt)
cnt += 1

print(f"{string} , Current count is: {cnt}")
print("\n")

sem_grade = 82.2436564657461234
name = ""
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))
print("Hello", name,", your semestral grade is:", sem_grade)

w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are:\n\t{:.2%} for Prelims \n\t{:.2%} for Midterms \n\t{:.2%} for Finals \n\t".format(w_pg, w_mg, w_fg))

Hello World!
Hello World! , Current run count is: 1
Hello World! , Current count is: 2


Hello , your semestral grade is: 82.24365646574613
Hello  , your semestral grade is: 82.24365646574613
The weights of your semestral grades are:
	30.00% for Prelims
	30.00% for Midterms
	40.00% for Finals

In [69]:
x = input("Enter a number: ")
print(x)

Enter a number: 1
1

In [70]:
name = input("Kimi no yawa: ")
pg = input("Enter prelim  grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter finals grade: ")
sem_grade = None

print("Hello {}, your semestral grade is {}".format(name, sem_grade))

Kimi no  yawa: James
Enter prelim  grade: 1
Enter midterm grade: 1.0
Enter finals grade: 1.0
Hello James, your semestral grade is None

Looping Statements

In [71]:
#While Loops
i, j = 0, 10
while(i <= j):
  print(f"{i}\t\t {j}")
  i += 1

0		 10
1		 10
2		 10
3		 10
4		 10
5		 10
6		 10
7		 10
8		 10
9		 10
10		 10

In [96]:
#For Loops
i = 0
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

Flow Control

In [97]:
#Condition Statements
numeral1, numeral2 =  12, 12
if(numeral1 == numeral2):
  print("Yey")

elif(numeral1 > numeral2):
  print("Hoho")

else:
  print("Aww")

print("Hip Hip")

Yey
Hip Hip

Functions

In [100]:
#void DeleteUser(int userid){
# delete(userid);
# }

def delete_user(userid):
  print("Successfully deleted user: {}".format(userid))

def delete_all_users():
  print("Successfuly deleted all users")