<a href="https://colab.research.google.com/github/jamesdayao/58013-Linear-Algebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [14]:
if 5 > 2:
  print("Five is greater than Two")

Five is greater than Two

Python Comments

In [18]:
#This is a comment

print("Hello, World!")

Hello, World!

Variable Naming Conventions

In [25]:
x = 1
y, z= 0, -1
d, e, f = 0, -1, 2

b = "Sally" #This is a type of string

Casting

In [26]:
b = "Sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() Function

In [27]:
x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double Quote or Single Quote

In [46]:
y = "John"
y = 'John'

Case Sensitive

In [45]:
a = 4
A = "Sally"

print(a)
print(A)

#Overwrite
a = "Sally"
print(a)

4
Sally
Sally

Multiple Variables

In [37]:
x, y, z = "one", "two", "three"

print(x)
print(y)
print(z)
print(x, y, z)

one
two
three
one two three

One Value to Multiple Variables

In [39]:
w=x=y=z = "Four"

print(w)
print(x)
print(y)
print(z)

Four
Four
Four
Four

Output Variables

In [47]:
x = "enjoying"

print("Python programming is " + x)
print("Python programming is", x)

Python programming is enjoying
Python programming is enjoying

In [50]:
#Other way
x = "Python is "
y = "enjoying"
z = x + y
print(z)
print(x + y)

Python is enjoying
Python is enjoying

Arithmetic Operations

1.+ (Addition)

2.- (Subtraction)

3.* (Multiplication)

4./ (Division)

5.% (Modulo)

6.** (Exponentation)

7.// (Floor Division)

In [55]:
x = 5
y = 3
print(x + y)

sum = x + y
sum

8

8

Assignment Operators

1.=

2.+=

3.-=

4.*=

5./=

6.%=

7.**=

In [56]:
a, b, c = 0, -1, 6
c %= 3

c

0

Comparison Operators

1.== (Equal)

2.!= (Not equal)

3.> (Greater than)

4.< (Less than)

5.>= (Greater than or equal to)

6.<= (Less than or equal to)

Logical Operator

1.and

2.or

3.not

Identity Operator

1.is

2.is not

Bitwise Operator

1.& (AND)

2.| (OR)

3.^ (XOR)

4.~ (NOT)

5.<< (Zero fill left shift)

6.>> (Signed right shift)

In [75]:
a, b, c = 0, -1, 5
a>b and c>b

True

Identity Operators

In [74]:
a, b, c = 0, -1, 5
a is c

False

Bitwise Operators

In [78]:
a, b, c = 0, -1, 5
c<< 1

10